.parent {
    border-radius: 10px;
    margin: 0.2rem;
    margin-bottom: 0.6rem;
    background-color: #0d2136;
    height: 18.5rem;
    width: 15rem;
    transition: transform 0.5s 0.2s;
}
.buttonBox {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
}
.image {
    border-radius: 10px;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.label {
    padding: 0.3rem;
    margin-bottom: 0;
}
.price {
    color: aqua;
    padding: 0 0.5rem;
}
.parent .image:hover {
    filter: grayscale(200%);
    cursor: pointer;
}
.parent:hover {
    cursor: pointer;
}
@media screen and (min-width: 800px) {
    .parent {
        margin: 0.5rem;
        width: 15rem;
        border: 0.1px solid  #0d2136;
    }
}